/* ================ Basic Style Setup ================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary: #6B5AE2;
    --secondary: #523ce2;
    --image-bg: #34304e;
    --background: #ece9f5;
    --text-color: #FDFFFF;
    --text-color-black: #414141;
    --card-bg: #fdfafa;
}

.container {
    width: min(1320px, 90%);
    margin: auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
}

/* ================ Nav Bar Design ================ */
.navbar {
    background: var(--primary);
    padding: 15px;
    position: relative;
    z-index: 2;
}

nav.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav .logo img {
    width: 40px;
    border: 2px solid var(--background);
    border-radius: 5px;
}

.nav .logo .site-name {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--text-color);
}

.nav .links {
    display: flex;
    gap: 35px;
    align-items: center;
}

.nav .links a {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--text-color);
}

.nav .links a.active {
    position: relative;
    transition: all .4s ease-in-out;
}

.nav .links a.active::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--background);
    left: 0;
    bottom: -5px;
    transition: all .4s ease-in-out;
}

.nav .hamburger{
    color: var(--text-color);
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}


@media only screen and (max-width: 660px) {
    .nav .links {
        display: none;
        position: relative;
    }
    
    .nav .hamburger {
        display: block;
    }

    .nav .links.active {
        display: block;
        position: absolute;
        z-index: 1;
        background:var(--primary);
        height: calc(100vh - 70px);
        width: 100%;
        left: 0;
        top: 70px;
        display: grid;
        place-items: center;
        align-content: center;
    }

    .nav .links a{
        font-size: 2rem;
        font-weight: 500;
    }
}


/* ================ Hero Section Design ================ */
.hero{
    width: 100%;
}

.hero .main-layout{
    height: 700px;
    background: var(--primary);
    position: relative;
    width: 100%;
    margin-top: 10px;
}



/* ================ Quiz Design ================ */
.quizzes .quiz-title{
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: var(--image-bg);
}


.quiz-topic{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.quiz{
    padding: 10px;
    background: var(--card-bg);
    width:100%;
    border-radius: 10px;
}

.quiz .image img{
    width: 100%;
    background:var(--image-bg);
    padding: 10px;
    border-radius: 5px;
    /* margin-bottom: 10px; */
}

.quiz .title h4{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary);
    text-align: center;
}

.quiz .count-button{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quiz .count-button .total{
    font-size: .9rem;
    font-weight: 500;
    color: var(--image-bg);
    text-align: center;
    opacity: .8;
}

.quiz .count-button button{
    padding: 8px 15px;
    background: var(--primary);
    border-radius: 5px;
    color: var(--text-color);
    border: none;
    cursor: pointer;
}