/* ================ Basic Style Setup ================ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary: #6B5AE2;
    --secondary: #523ce2;
    --image-bg: #34304e;
    --background: #ece9f5;
    --text-color: #FDFFFF;
    --text-color-black: #414141;
    --card-bg: #fdfafa;
}

.container {
    width: min(1320px, 90%);
    margin: auto;
}

.quiz-container {
    width: min(1000px, 90%);
    margin: auto;
    margin-top: 30px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
}

/* ================ Nav Bar Design ================ */
.navbar {
    background: var(--primary);
    padding: 15px 40px;
    position: relative;
    z-index: 2;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 0px rgba(108, 90, 226, 0.3);
}

nav.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.nav .logo img {
    width: 40px;
    border: 2px solid var(--background);
    border-radius: 5px;
}

.nav .logo .site-name {
    font-size: 1.7rem;
    font-weight: 600;
    color: var(--text-color);
}

.nav .links {
    display: flex;
    gap: 35px;
    align-items: center;
}

.nav .links a {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--text-color);
}

.nav .links a.active {
    position: relative;
    transition: all .4s ease-in-out;
}

.nav .links a.active::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    background: var(--background);
    left: 0;
    bottom: -5px;
    transition: all .4s ease-in-out;
}

.nav .hamburger {
    color: var(--text-color);
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}


@media only screen and (max-width: 660px) {
    .nav .links {
        display: none;
        position: relative;
    }

    .nav .hamburger {
        display: block;
    }

    .nav .links.active {
        display: block;
        position: absolute;
        z-index: 1;
        background: var(--primary);
        height: calc(100vh - 70px);
        width: 100%;
        left: 0;
        top: 70px;
        display: grid;
        place-items: center;
        align-content: center;
    }

    .nav .links a {
        font-size: 2rem;
        font-weight: 500;
    }
}


/* ================ Hero Section Design ================ */
.hero {
    width: 100%;
}

.hero .main-layout {
    position: relative;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .main-layout .main-left {
    width: 50%;
}

.hero .main-layout .main-left h1 {
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 40px;
    color: var(--primary);
    margin-bottom: 30px;
    width: 80%;
}

.hero .main-layout .main-left p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--image-bg);
    margin-bottom: 30px;
    opacity: .8;
}

.hero .main-layout .main-left a {
    color: var(--text-color);

}

.hero .main-layout .main-left button {
    padding: 8px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background: var(--primary);
    cursor: pointer;
}


.hero .main-layout .main-right {
    width: 50%;
}

.hero .main-layout .main-right img {
    width: 100%;
}


@media only screen and (max-width: 800px) {
    .hero .main-layout {
        flex-direction: column;
        margin-top: 50px;
    }

    .hero .main-layout .main-left {
        width: 100%;
    }

    .hero .main-layout .main-left h1 {
        line-height: 45px;
    }

    .hero .main-layout .main-left a {
        color: var(--text-color);
    }

    .hero .main-layout .main-left button {
        padding: 8px 20px;
        font-size: 1rem;
        border: none;
        border-radius: 5px;
        background: var(--primary);
        cursor: pointer;
    }


    .hero .main-layout .main-right {
        width: 100%;
    }

    .hero .main-layout .main-right img {
        width: 80%;
    }
}

/* ================ Quiz Design ================ */
.quizzes {
    margin-bottom: 50px;
}

.quizzes .quiz-title {
    margin-top: 60px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    color: var(--image-bg);
}


.quiz-topic {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-gap: 20px;
}

.quiz {
    padding: 10px;
    background: var(--card-bg);
    width: 100%;
    border-radius: 10px;
}

.quiz .image img {
    width: 100%;
    background: var(--image-bg);
    padding: 10px;
    border-radius: 5px;
    /* margin-bottom: 10px; */
}

.quiz .title h4 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--primary);
    text-align: center;
}

.quiz .count-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.quiz .count-button .total {
    font-size: .9rem;
    font-weight: 500;
    color: var(--image-bg);
    text-align: center;
    opacity: .8;
}

.quiz .count-button a {
    width: 100%;
}

.quiz .count-button button {
    padding: 8px 15px;
    background: var(--primary);
    border-radius: 5px;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    width: 100%;
    transition: .4s;
}

.quiz .count-button button:hover {
    background: var(--secondary);
}


/* ================ Quiz Question Design ================ */
.quiz-topic-title {
    position: relative;
}

.quiz-topic-title h3 {
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
    color: var(--image-bg);
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
}

.quiz-topic-title h3::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 70%;
    background: var(--image-bg);
    left: 0;
    bottom: -5px;
}

.total-question {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 20px;
    color: var(--primary);
    margin-bottom: 30px;
}

.single-quiz {
    margin-bottom: 20px;
    padding: 20px;
    background: linear-gradient(0deg, var(--card-bg) 0%, var(--background) 85%);
    border: 2px solid var(--card-bg);
    border-radius: 8px;
}

.single-quiz .question {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.single-quiz .question h3 {
    color: var(--image-bg);
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 600;
}

.single-quiz .question i {
    color: var(--image-bg);
    font-size: 1rem;
    transition: .3s;
}

.single-quiz .correct-answer {
    margin-top: 10px;
    border: 1px solid rgba(108, 90, 226, 0.2);
    padding: 8px;
    border-radius: 4px;
}

.single-quiz .correct-answer h5 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--primary);
}

.single-quiz .correct-answer h5 span {
    font-weight: 500;
    margin-right: 10px;
    color: var(--image-bg);
}

.options {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 5px;
}

.options .radio {
    height: 15px;
    width: 15px;
    border: 1px solid var(--primary);
    border-radius: 50%;
    display: grid;
    place-items: center;
}

.options .radio .radio-select {
    height: 9px;
    width: 9px;
    background: var(--primary);
    border-radius: 50%;
}


.option-select {
    cursor: pointer;
}

.option-select.selected {
    color: var(--primary);
    font-weight: 500;
}


/* ================ 404 Page Design ================ */

.error {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error h1 {
    background-image: url(images/error.jpg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 8rem;
}

.error .not-found{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary);
}

.error .redirect{
    display:flex;
    margin-top: 20px; 
    gap: 4px;
    font-size: 1rem;
}

.error .redirect a{
    color: var(--primary);
    font-weight: 600;
    text-decoration: underline;
}
